* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

.background {
    background-image: url("Office Background.jpg");
    width: 100%;
    background-color: #1F1F22;
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 95vh;
    position: relative;

}

.home {
    background-color: #FFBB05;
    border-radius: 50%;
    margin: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.about {
    background-color: #FFBB05;
    border-radius: 50%;
    margin: 0;
    width: 80px;
    height: 80px;
    padding-left: 18px;
    text-align: center;
    align-items: center;
    display: flex;
}

.featured {
    background-color: #FFBB05;
    border-radius: 50%;
    margin: 0;
    width: 80px;
    height: 80px;
    padding-left: 18px;
    text-align: center;
    align-items: center;
    display: flex;
}

.project {
    background-color: #FFBB05;
    border-radius: 50%;
    margin: 0;
    width: 80px;
    height: 80px;
    padding-left: 18px;
    text-align: center;
    align-items: center;
    display: flex;
}

.contact {
    background-color: #FFBB05;
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;
    padding-left: 18px;
    text-align: center;
    align-items: center;
    display: flex;
}

.first_ul div:hover {
    background-color: aliceblue;
}

.background .first_ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    text-align: center;
    padding-top: 8%;
    margin: auto;
    width: 60%;
}

.background h5 {
    color: #FFBB05;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding-top: 10px;
}


.text {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-align: center;
    background-color: none;
    padding-top: 12%;
    font-weight: 800;
}

.web {
    font-size: 20px;
    color: #FFBB05;
    font-weight: 300;
}
.sec-para{
    background-color: #fff;
    border-top: 15px solid #FFBB05;
    box-shadow: 2px 5px 8px rgb(0 0 0 / 20%);
    height: 93%;
    width: 90%;
    /* top: 20px; */
    margin: auto;
    margin-top: 6%;
    
    padding-left: -15px;
    padding-right: -15px;
}
.sec-para .upperimages{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.upperimages img{
    margin: 14px 8px 14px 8px;
    width: 25%;
}
.lowerimages{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lowerimages img{
    margin: 12px 8px 8px 8px;
    width: 25%;
}
footer{
    background-color: #FFBB05;
    position: absolute;
    top: 75rem;
    width: 100%;
    height: 12%;
    text-align: center;
    padding-top: 28px;
}